.hero-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
}
.hero-p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}
.hero-btn {
  background-color: #e02c6d !important;
  width: 196px;
  height: 44px;
  border-radius: 41px;
  color: white;
}
.hero-img-sec {
  background-image: url(../Image/images/Circle\ design.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-p {
  padding-top: 25px;
  /* font-family: "Poppins";
  font-style: normal; */
  font-weight: 500;
  font-size: 28px;

  color: #18191f;
}
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-price {
  /* font-family: "Inter";
  font-style: normal; */
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}
.product-rating {
  font-size: 12px;
}
.star {
  color: #fb8200;
}
.card-text {
  font-weight: 700;
  font-size: 14px;
  color: #787885;
}
.product-heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  color: #3a3a3a;
}
.see-more {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(224, 44, 109, 0.87);
}
.featured-heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
  color: #0a0826;
}
.featured-p {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}
.featured-btn {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 24px;
  border: none;
  width: 155px;
  height: 44px;
  background: #e02c6d;
}
